---
title: About medicalWISODM - Elderly Care
namespace: about
permalink: /about/
---

<div class="container mb-5">
    <div class="row">
        <div class="col-md-7 order-md-2 mb-5 h-60">
            <img class="img-fluid" style="margin-left: 100px" src="/assets/images/about-page-feature-illustration.png"
                alt="" />
        </div>
        <div class="col-md-5 order-md-1">
            <h1>{% t about_page_content.title %}</h1>
            <p class="lead text-muted">
                {% t about_page_content.subtitle %}
            </p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row listar-feature-items">
        {% for feature in site.translations[site.lang].about_page_content.featureCard %}
        <div class="col-xs-12 col-sm-6 col-md-4 listar-feature-item-wrapper listar-feature-with-image listar-height-changed"
            data-aos="fade-zoom-in" data-aos-group="features" data-line-height="25.2px">
            <div class="listar-feature-item listar-feature-has-link">
                <div class="listar-feature-item-inner">
                    <div class="listar-feature-right-border"></div>
                    <div class="listar-feature-block-content-wrapper">
                        <div class="listar-feature-icon-wrapper">
                            <div class="listar-feature-icon-inner">
                                <div class="text-success">
                                    <img alt="Businesses" class="listar-image-icon"
                                        src="/assets/images/{{feature.icon}}" />
                                </div>
                            </div>
                        </div>
                        <div class="listar-feature-content-wrapper" style="padding-top: 0px">
                            <div class="listar-feature-item-title listar-feature-counter-added">
                                <span><span>{{ feature.number }}</span> {{ feature.title}} </span>
                            </div>
                            <div class="listar-feature-item-excerpt">
                                {{ feature.desc }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listar-feature-fix-bottom-padding listar-fix-feature-arrow-button-height"></div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container-fluid gtco-features mt-0" id="about">
    <div class="container-xxl">
        <div class="row">
            <div class="col-lg-4">
                <h2> {% t about_page_content.visionCard.title %} </h2>
                <p>  {% t about_page_content.visionCard.desc %}
                </p>
            </div>
            <div class="col-lg-8">
                <svg id="bg-services" width="100%" viewBox="0 0 1000 480">
                    <defs>
                        <linearGradient id="PSgrad_02" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                            <stop offset="0%" stop-color="rgb(227, 241, 223)" stop-opacity="1"></stop>
                            <stop offset="100%" stop-color="rgb(80, 184, 60)" stop-opacity="1"></stop>
                        </linearGradient>
                    </defs>
                    <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_02)"
                        d="M801.878,3.146 L116.381,128.537 C26.052,145.060 -21.235,229.535 9.856,312.073 L159.806,710.157 C184.515,775.753 264.901,810.334 338.020,792.380 L907.021,652.668 C972.912,636.489 1019.383,573.766 1011.301,510.470 L962.013,124.412 C951.950,45.594 881.254,-11.373 801.878,3.146 Z">
                    </path>
                </svg>
                <div class="row">
                    {% for mission in site.translations[site.lang].about_page_content.misionCard %}
                    <div class="col" {% unless forloop.last %} style="margin-top: 150px;" {% endunless -%}>
                        <div class="card text-center">
                            <div class="oval"><img class="card-img-top" src="/assets/images/{{mission.image}}" alt="">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{ mission.title }}</h3>
                                <p class="card-text">{{ mission.desc }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>