---
title: Home
page_title: medicalWISDOM
namespace: mmedicalWISDOM
permalink: /
---

<div class="container-fluid gtco-banner-area">
    <div class="container-xxl">
        <div class="row align-items-start">
            <div class="col-md-7 order-md-2">
                <img class="img-fluid" src="/assets/images/feature-infographic.png" alt="" />
            </div>
            <div class="col-md-5 order-md-1">
                <h1>{% t herotext %}</h1>
                <small>{% t herosubtitle %}</small><br>
                <a href="https://patient.medicalwisdom.de/signup" target="_blank">{% t register %} <i
                        class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid gtco-features" id="about">
    <div class="container-xxl">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    {% for feature in site.translations[site.lang].landing %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="oval">
                                <img class="card-img-top" src="/assets/images/{{feature.image}}" alt="" />
                            </div>
                            <div class="card-body text-center">
                                <h3>
                                    {{ feature.title }}
                                </h3>
                            </div>
                            {% for product in feature.items %}
                            <ul class="list-group list-group-flush">
                                <li class="border-bottom border-success list-group-item">
                                    {{ product.title }}
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>